@using System.Web.Optimization
@using Gazette.Infrastructure
<!doctype html>
<html>
<head>
	<title>@GazetteConfiguration.Instance.BlogName - @(ViewBag.Title ?? "Home")</title>
    <link rel="stylesheet/less" type="text/css" href="@Url.Content("~/Content/Site.css")" />
    <link href="@Url.Content("~/Content/SyntaxHighlighter/shCore.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/SyntaxHighlighter/shCoreDefault.css")" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
        $.url = function (url) {
            var path = '@Request.ApplicationPath';
            if (path != '/') path = path + '/';
            return path + url;
        }
    </script>
    <script type="text/javascript" src="@BundleTable.Bundles.ResolveBundleUrl("~/Scripts/modules/js")"></script>
    <script type="text/javascript" src="http://lesscss.googlecode.com/files/less-1.2.2.min.js"></script>
    <meta charset="UTF-8"/>
</head>
<body>
	<div id="page">
		<header>
			<div id="logo">
			</div>
			<nav>
				<ul>
					<li><a href="#">home</a></li>
					<li>@Html.ActionLink("blog","Index","Article", new { currentPage = 0}, null)</li>
					<li><a href="#">work</a></li>
					<li><a href="#">contact</a></li>
				</ul>
			</nav>
		</header>
		<div id="mainwrapper">
            <section id="sidebar">
                @Html.Action("ArchiveList","Article")
            </section>

            <section id="main">
                @RenderBody()
            </section>
            <footer>
                &copy; @DateTime.Now.Year Smoothfriction
            </footer>
		</div>
	</div>
</body>
</html>