@model Gazette.Controllers.IndexViewModel

@foreach(var article in Model.Items)
{
    <h2>@Html.ActionLink(article.Title, "Details", "Article", new { article.Id, article.Slug }, null)</h2>
    <div class="article">
    <div>
        @Html.Raw(article.Content)
    </div>
    <dl>
        <dt>Author</dt>
        <dd>@article.Author</dd>
        <dt>Published</dt>
        <dd>@article.Published.ToShortDateString() @@ @article.Published.ToShortTimeString()</dd>
    </dl>
</div>
}
<p style="overflow:auto">
    
    @if (Model.NextPage.HasValue)
    {
        @Html.ActionLink("Older items", "Index", new { year = Model.Year, month = Model.Month, currentPage = Model.NextPage, pageSize = Model.PageSize })
    }
    @if (Model.PreviousPage.HasValue)
    {
        @Html.ActionLink("Newer items", "Index", new { year = Model.Year, month = Model.Month, currentPage = Model.PreviousPage, pageSize = Model.PageSize }, new { style ="float:right"})
    }
</p>

